@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

.fetching-data {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f5;
}
.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 2rem;
  font-family: "Inter", sans-serif;
  background-color: #eff2f5;

  .recharts-surface {
    width: 100%;
  }
  .search-input-wrapper {
    width: 30%;
    margin: 0 auto;
    min-width: 200px;
  }
  .filter-input-wrapper {
    width: calc(100% - 1.5rem);
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    .ant-select-selector {
      min-width: 100px;
    }
  }
  .stats-wrapper {
    background-color: #eff2f5;
    padding: 1rem 2rem;
    margin: 1rem 1.5rem;
    padding-right: 0;
    .stats-wrapper-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
  .selected-date-data-wrapper {
    width: 90%;
    margin: 1rem auto;
    text-align: left;
    font-size: 1rem;
    .table-wrapper {
      width: 100%;
      margin: 1rem auto;
      font-size: 1rem;
      background-color: #fafafa;
      .table-title {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 2rem 0 0;
        padding: 0.5rem 0.25rem;
      }
    }
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .search-input-wrapper {
      width: 90%;
      margin: 0 auto;
      min-width: 200px;
    }
    .filter-input-wrapper {
      width: calc(100% - 1.5rem);
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      margin-top: 1rem;
      .ant-select-selector {
        min-width: 100px;
      }
    }
    .stats-wrapper {
      background-color: #eff2f5;
      padding: 1rem 0rem;
      margin: 0 auto;
      padding-right: 0;
      width: 90%;
      .stats-wrapper-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem 0rem;
      }
    }
  }
}
